*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body{
    font-family: sans-serif;
    overflow-x: hidden !important;
    background-color: #0E0837;
    color: white;
    
} 

body h1,h2,h3{

 font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
}


/* This is a navigation bar in css */


.main-nav{
    
    display: flex;
    justify-content:space-evenly;
    align-items: center; 
    z-index: 1000;
    box-shadow:2px 2px 2px #0E0837;
    border-bottom: 1px solid  #0E0837;
}


/* This is a sidebar in css */

.sidebarparent{
    display:none ;
    position: fixed;
    top: 4.5rem;
    right: 0;
    height: 80vh;
    width: 290px;
    z-index: 999;
    background-color: rgba(211, 211, 211, 0.185);
    backdrop-filter: blur(10px);
    box-shadow: 1px 1px 5px 2px lightgray;
}

.sidebarparent ul{
    list-style-type: none;
}

.sidebarparent ul li{
    margin: 1.8rem 0;
}

.sidebarparent ul li a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    padding: 1rem;
    display: block;
}

.sidebarparent ul li a:hover{
    color: blue;
    background-color: lightgray;
}

/* This is a sidebar end */



.n-logo,
.n-menu ul,
.n-icon{
    display: flex;
}

.n-icon{
    color: white;
    gap: 1.5rem;
    font-size: 22px;
}

.n-menu ul{
    gap: 2rem;
    list-style-type: none;
    padding: 0.5rem;
    
}

.n-menu ul li{
    display: inline-block;
    position: relative;
}

.n-menu ul li a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    padding: 1rem;
    display: block;
}

.n-menu ul li a:hover{
    color: blue;
    background-color: lightgray;
}


.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 1;
    transition: all 0.4s;

}

.dropdown .dropdown-content a{
    text-decoration: none;
    color: black;
    padding: 10px 16px;
    display: block;
    font-size: 20px;
    font-weight: bold;

}

.dropdown:hover .dropdown-content{
    display: block;
}

.icon-list{
    color: white;
    font-size: 45px;
    display: none;
}

.icon-list li{
    list-style-type: none;
}

.icon-list li a{
    color: white;
}



/* This is a main disply css  */


.main-disply{
    width: 100%;
    padding: 8rem 1rem;
   background-color: transparent;
    background-image: linear-gradient(135deg, #0E0837 30%, #D71462 70%);
    opacity: 0.8;
     transition: all 0.3s; 

}

.m-disply{
    width: 80%;
    margin: auto;
    position: relative;
    
}

.md-card{
    width: 20%;
    border: 10px solid #EF0058;
    padding:6.5rem 1rem;
    box-shadow: 1px 1px 16px 6px #EF0058;

    
}

.m-disply h1{
    font-size: 60px;
    position: absolute;
    top: 3rem;
    left: 3.5rem;
}

.m-disply p{
    font-size: 18px;
    position: absolute;
    top: 9rem;
    left: 3.8rem;
    
}


/* This is a our journey class in css  */

.our-journey{
    width: 100%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
}

.our-journey p{
    color: #F1005C;
    font-size: 20px;
    text-transform: uppercase;
}

.our-journey h2{
    font-size: 50px;
    text-transform: uppercase;
}

.our-journey .o-img{
    width: 80%;
}


/* This is a about us class in css  */

.about-us{
    width: 80%;
    margin:2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.au-left{
    width: 40%;
}

.au-left p{
    color: #F1005C;
    font-size: 20px;
    margin: 1rem 0;
}

.au-left h2{
    font-size: 40px;
}

.au-right{
    width: 50%;
}

.au-right p{
    letter-spacing: 1px;
    line-height: 1.4rem;
    font-size: 18px;
    margin: 0.9rem 0;
}


/* This is a background overlay in css */

.background-overlay{
    width: 100%;
    margin: 2rem 0;
    background-color: transparent;
    background-image: linear-gradient(135deg, #0E0837 20%, #D71462 80%);
    opacity: 0.9;
     transition: all 0.3s;  
     padding-bottom: 4rem;

}


.bo-text{
    width: 80%;
    margin: auto;
}


.bo-card{
    width: 50%;
    background-color: #0E0837;
    padding: 2rem  1.5rem;
    margin-left: auto;

}

.bo-card p:nth-child(1){
    color: #EF0058;
    font-size: 30px;
    font-weight: bolder;
    padding: 1rem 0;
}

.bo-card h3{
    font-size: 40px;
    color: white;
    padding: 1rem 0;
}

.bo-card  p:nth-child(3){
    font-size: 17px;
    line-height: 1.4rem;
    padding:1rem 0 ;
}

.bo-card  p:nth-child(4){
    font-size: 17px;
    line-height: 1.4rem;
    padding:1rem 0 ;
}


/* This is a award class css */

.award{
    width: 80%;
    margin:3rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.award-left{
    width: 60%;
}

.award-right{
    width: 40%;
}

.left-text p:nth-child(1){
    color: #EF0058;
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 1px;
    padding:0.8rem 0.3rem;
}

.left-text h2{
    font-size: 40px;
    padding:0.5rem 0.2rem;
}

.left-text  p:nth-child(3){
    letter-spacing: 1px;
    line-height: 1.5rem;
}

.left-imgs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
    gap: 2.5rem;
}

.lt-img-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
}

.rt-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.rt-card h3{
    font-size: 30px;
}


/* This is a my favorite class in css */

.my-favorite{
    width: 100%;
    padding: 6rem 0;
    background-color: transparent;
    background-image: linear-gradient(135deg, #0E0837 20%, #D71462 80%);
    opacity: 0.9;
     transition: all 0.3s;  
}
.mf-heading{
    width: 80%;
    padding: 2rem 1rem;
    margin: auto;
}

.mf-heading h2{
    font-size: 48px;
    margin: 1rem 0;
}

.mf-heading h6{
    font-size: 30px;
    text-align: center;
}


/* This is a sponsor class in css */

.sponser{
    width: 80%;
    margin: auto;
    padding: 1rem 3rem;
}


.spn-head{
    width: 100%;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.spn-head h6{
    font-size: 30px;
    color: #BE245A;
}

.spn-head h4{
    font-size: 40px;
}

.spn-imgs{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
}


.spn-img{
    width: 15%;
}


/* This is a footer in css */


footer{
    width: 100%;
    padding: 0.5rem 0;
    margin: auto;
    background-image: url("https://elements-resized.envatousercontent.com/elements-cover-images/680be59b-16e0-4935-81ec-c14b0c0de87c?w=1370&cf_fit=scale-down&q=85&format=auto&s=6fc8134e971162a59962815705eb228ae97f534c91395649df0da2cdff5a972b");
    background-size: cover;
    background-repeat: no-repeat;
}

.foot{
    width: 80%;
    margin: 7rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.ft-left{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ft-card{
    width: 60%;
    border: 13px solid  #F1005C;
    box-shadow: 1px 1px 18px 4px #F1005C;
    padding: 1.5rem 2.5rem;
    
    
}

.ft-card p{
    padding: 1rem 3rem ;
    margin-right: -10rem;
    letter-spacing: 1px;
    line-height: 1.4rem;

}

.ft-icon{
    bottom: 1.5rem;
    font-size: 25px;
    display: flex;
    gap: 1.2rem;
}

.ft-right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.2rem;
}

.ft-company{
    width: 50%;
    background-color: transparent;
    padding: 2rem;
}


.ft-company h4{
    font-size: 30px;
    letter-spacing: 1px;
}

.ft-company hr{
    border: 1px solid #9B0483;
    width: 100%;
    margin: 1.5rem 0;
}

.ft-links ul{
    list-style-type: none;
}

.ft-links ul li{
    margin: 1rem 0;
}

.ft-foot{
    width: 80%;
    margin:2rem auto;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    text-align: center;
}

.ft-foot hr{
    border:0.4px  solid #9B0483;
}

.ft-foot p{
    font-size: 16px;
}



/* This is a footer in media queries */

@media (max-width:1100px){
    .foot{
        width: 95%;
    }


    .ft-card p{
        width: 100%;
        padding: 0.1rem 0.2rem ;
        margin-right: 10rem;
        line-height: normal;
        margin: 1.5rem 0;
}

    
}


@media (max-width:970px){
    .ft-card{
        width: 90%;
    }
}


@media (max-width:770px){
    .foot{
        flex-direction: column;
    }

    .ft-left,
    .ft-right{
        width: 100%;
    }
}


/* This is a sponsor class media queries */

@media (max-width:1100px){
    .sponser{
        width: 95%;
    }

}

@media (max-widht:770px){
    .spn-head h2{
        font-size: 15px;
        font-weight: normal;
    }

    .spn-img{
        width: 18%;
    }

}




/* This is a my favorite class media queies */

@media (max-width:1130px){
    .mf-heading{
        width: 95%;
        padding: 1rem 0;
        text-align: center;

    }

    .mf-heading h2{
        font-size: 35px;
    }
}


/* This is a award class media queries */


@media (max-width:1150px){
    .award{
        width: 95%;
    }
}

@media (max-width:770px){
    .award{
        flex-direction: column;
    }


    .award-left{
        width: 100%;
    }

    .award-right{
        width: 100%;
    }
    
}



/* This is a background overlay media queries */

@media (max-width:1170px){
    .bo-text{
        width: 95%;
    }

    .bo-card{
        width: 60%;
    }
    
}

@media (max-width:770px){
    .bo-card{
        width: 100%;

    }
    .bo-text{
        width: 100%;
        padding: 1.5rem;
    }

    .background-overlay{
        padding-bottom: 0.5rem;
    }
    
}


/* This is a about us class media queries */

@media (max-width:1100px){
    .about-us{
        width: 95%;
    }

    .au-left{
        width: 50%;
    }

    .au-right{
        width: 50%;
    }
}

@media (max-width:750px){
    .about-us{
        flex-direction: column;
    }


    .au-left{
        width: 80%;
    }

    .au-right{
        width: 80%;
    }
    
}


/* This is a main disply class media queries */

@media (max-width:1100px){
    .m-disply{
        width: 95%;
    }

}


@media (max-width:770px){
    .m-disply{
        text-align: center;
    }

    .md-card{
        width: 40%;
    }
    
}

@media (max-width:600px){
    .md-card{
        width: 60%;
    }
    .m-disply h1{
        top:2rem ;
        left: 1.5rem;
        font-size: 40px;
    }
    .m-disply p{
        top: 6rem;
        left: 1.5rem;
        font-size: 17px;
    }
}



/* This is a Navigation bar media queries */

@media (max-width:1100px){
    .n-menu ul{
        display: none;
    }

    .icon-list{
        display: block;
    }
}



@media (max-width:770px){
    .main-nav{
        justify-content: space-between;
    }

    .n-logo img{
        width: 220px;
    }
        
    .n-icon{
        display: none;
    }

    .icon-list{
        font-size: 60px;
    }
}

